@model IEnumerable<InfluanceHairCare.services.Modules.SalesRep.Dtos.SaleRepResponseDto>
@{
    ViewData["Title"] = "GetAllSaleReps";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
<script src="~/js/jquery1-3.4.1.min.js"></script>

<script src="~/js/jquery.validate.min.js"></script>
<script src="~/js/jquery.validate.unobtrusive.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<script src="~/js/toastr.js"></script>


@if (TempData["response"] != null)
{
    <script>
        $(document).ready(function() {
            var success = '@((TempData["response"] != null).ToString())';
            if (success == 'false' || success == false) {
            } else {
                toastr.success('@TempData["response"].ToString()')
            }
        });

    </script>
}


<head>
    <style>
        .swal-modal {
            background: lightblue;
        }

        .swal-button--yes {
            background: darkslateblue;
        }

        .swal-button--no {
            background: darkslateblue;
        }
    </style>
</head>
<br />
<br />
<h3>All Sale Rep</h3>
<br />
<br />
<div class="container">
    <table id="User" class="display">

        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>ordersCount</th>
                <th>customer Count</th>
                <th>Action</th>
            </tr>

        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>@item.Email</td>
                @*<td>@item.Salon_Name</td>*@
                <td>@item.OrdersCount</td>
                <td>@item.CustomerCount</td>

                <td>
                    <a class="btn btn-link btn-warning edit btnUpdates d-none" style="color:maroon" href='@Url.Action("EditExamRoom", "ExamRoom", new { id = "#" })' : null"><i class="fa fa-edit"></i></a>
                    <a class="btn btn-link btn-warning edit btnupdate" style="color:maroon"><i class="fa fa-edit"></i></a>
                    <a class="btn btn-link btn-danger remove btnremove d-none" style="color:maroon" href='@Url.Action("DeleteExamRoom", "ExamRoom", new { id = "RoomId"})' : null"><i class="fa fa-times"></i></a>
                    <a class="btn btn-link btn-danger remove btndelete" data-rel="RoomId" id="" style="color:maroon;margin-left:1rem" : null"><i class="fa fa-times"></i></a>

                    <a class="btn btn-info" style="margin-left: 1rem;" href='@Url.Action("GetAllOrders", "Order", new { id = @item.Id})' ,value="InfluanceHairCare.services.Modules.order.Dtos.OrderResponseDto" : null"><i class="fa fa-eye" aria-hidden="true"></i></a>
                </td>
            </tr>
        }




    </table>
<link href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="//cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


@section scripts{
    <script>
        $(document).ready(function() {
            $('#User').DataTable({

                "Processing": true,
                "ServerSide": false,
                "Filter": true
            })
        });

        $(".btndelete").click(function(e) {
            e.preventDefault();
            swal("Are you sure to delete?", {
                buttons: {
                    yes: {
                        text: "Yes",
                        value: "yes"
                    },
                    no: {
                        text: "No",
                        value: "no"
                    }
                }
            }).then((value) => {
                if (value == "yes") {
                    debugger;
                    $(this).parent().find(".btnremove").get(0).click();
                }
                return false;
            });
        });

        $(".btnupdate").click(function(e) {
            e.preventDefault();
            swal("Are you sure you want to update?", {
                buttons: {
                    yes: {
                        text: "Yes",
                        value: "yes"
                    },
                    no: {
                        text: "No",
                        value: "no"
                    }
                }
            }).then((value) => {
                if (value == "yes") {
                    debugger;
                    $(this).parent().find(".btnUpdates").get(0).click();
                }
                return false;
            });
        });
    </script>

}

